/* https://docs.gtk.org/gtk3/css-properties.html#background-properties */

/*
window {
    background-color: black;
}

button {
    background-color: #1134C7;
    color: #A9A9A9;
    padding: 4px;
    border: 2px solid red;
}

GtkPaned {
    background-color: blue;
}*/
