/* https://docs.gtk.org/gtk3/css-properties.html#background-properties */

button{
    background-image:none;
}
window{
    background-image:none;
    background-color:white;
}

/*   ----------------   */
/*     BUTTON HOVER     */
/*   ----------------   */

.ClassicButton {
    background-image: none;
    color: #2376F1;
    background-color: rgb(220, 233, 253);
    border-radius: 6px;
    border:none;
    font-size: 14px;
    text-shadow: none;
    font-weight: bold;
}

.ErrorButton {
    background-image: none;
    color: #fe8e06;
    background-color: #ffedd7;
    border-radius: 6px;
    border:none;
    font-size: 14px;
    text-shadow: none;
    font-weight: bold;
}

.MainButton {
    background-image: none;
    color: white;
    background-color: #2376F1;
    border-radius: 6px;
    border:none;
    font-size: 14px;
    text-shadow: none;
    font-weight: bold;
}

/*   ----------------   */
/*     BUTTON HOVER     */
/*   ----------------   */

.ClassicButton:hover {
    background-color: rgb(202, 222, 252);
    border:none;
    font-weight: bold;
}

.ErrorButton:hover {
    background-image: none;
    color: #fe8e06;
    background-color: #fedaaf;
    border-radius: 6px;
    border:none;
    font-size: 14px;
    text-shadow: none;
    font-weight:bold;
}

.MainButton:hover {
    background-color: #216cdb;
    border:none;
    font-weight: bold;
}

/*   ----------------   */
/*       CELL GRID      */
/*   ----------------   */

button.cell {
    background-color: #ebebeb;
    color: #333333;
    border: 1px solid #ebebeb;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
}

button.cell.colored {
    background-color: #ffedd7;
    color: #fe8e06;
    border: 1px solid #ffedd7;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
}

button.cell:hover {
    background-color: #e0e0e0;
    color: #333333;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
}

button.cell.colored:hover {
    background-color: #ffdaac;
    color: #cf7200;
    border: 1px solid  #ffdaac;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
}

/*   ----------------   */
/*     ERROR POPUP      */
/*   ----------------   */

.ErrorType{
    font-size: 24px;
}

.ErrorDescription{
    font-size: 14px;
}

.digit_input {
    font-size: 32px;
}

/*   ----------------   */
/*     ERROR POPUP      */
/*   ----------------   */

.ThresholdSlider{
    color: #e98500;
}

/*
window {
    background-color: black;
}

button {
    background-color: #1134C7;
    color: #A9A9A9;
    padding: 4px;
    border: 2px solid red;
}

GtkPaned {
    background-color: blue;
}*/

